html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    width: 100%;
	overflow-x:hidden; 
	overflow-y:scroll; 
	-webkit-overflow-scrolling: touch;

	margin-top: 86px;
}

.corps {
    width: 100%
}

header{
    width: 100%;
	position: fixed;
	top: 0;
	background-color: white;
}

/** DRAWER **/
.menuDeroulant{
	position: fixed; 
	top: 0; 
	left:-300px; 
	height: 100%; 
	width: 300px;
	overflow-x: hidden; 
	overflow-y: scroll; 
	-webkit-overflow-scrolling: touch;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-o-box-sizing: border-box; 
	box-sizing: border-box; 
	/* adds animation for all transitions */ 
	-webkit-transition: .25s ease-in-out; 
	-moz-transition: .25s ease-in-out; 
	-o-transition: .25s ease-in-out; 
	transition: .25s ease-in-out; 
}

.menuDeroulant li {
	float: none;
	text-align: center;
}

.menuDeroulant li {
	height: auto;
	min-height: 40px;
	width: 100%;
}
.menuDeroulant .deroulant {
	opacity: 1;
	display: none;
	position: relative;
	top: 0px;
}
.menuDeroulant .deroulant li {
	height: 40px;
}

.menuDeroulant li.actif > a{
	background: rgb(150, 184, 47);
}
.menuDeroulant li.actif .deroulant{
	display:  block;
}

.menuDeroulant .deroulant li a {
	width: auto;
	padding: 4px 0 4px 0px;
}

#drawer-toggle { 
	position: absolute; 
	opacity: 0; 
}

#drawer-toggle-label { 
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
	left: 15px;
	top: 25px;
	height:50px; 
	width: 50px; 
	display: block; 
	position: fixed; 
	background: rgba(255,255,255,.0); 
	z-index: 1; 
	cursor: pointer; 
	-webkit-transition: .25s ease-in-out; 
	-moz-transition: .25s ease-in-out; 
	-o-transition: .25s ease-in-out; 
	transition: .25s ease-in-out; 
} 

#drawer-toggle-label span, 
#drawer-toggle-label span:before, 
#drawer-toggle-label span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 2px;
	width: 24px;
	background: gray; 
	position: absolute;
	display: block;
	content: '';
}
#drawer-toggle-label span:before {
	top: -6px; 
}
#drawer-toggle-label span:after {
	bottom: -6px;
}

#drawer-toggle-label span, 
#drawer-toggle-label span:before, 
#drawer-toggle-label span:after {
transition: all 0.15s ease-in-out;
}
#drawer-toggle:checked ~  #drawer-toggle-label span {
 	background-color: transparent;
}
#drawer-toggle:checked ~  #drawer-toggle-label span:before, #drawer-toggle:checked ~  #drawer-toggle-label span:after {
 	top: 0;
}
#drawer-toggle:checked ~  #drawer-toggle-label span:before {
 	transform: rotate(45deg);
}
#drawer-toggle:checked ~  #drawer-toggle-label span:after {
 	transform: rotate(-45deg);
}

#drawer-toggle:checked ~ #drawer-toggle-label { 
	height: 100%; 
	width: calc(100% - 300px); 
	background: rgba(255,255,255,.8); 
} 

#drawer-toggle:checked ~ #drawer-toggle-label, 
#drawer-toggle:checked ~ header { 
	left: 300px;
} 

#drawer-toggle:checked ~ nav .menuDeroulant { 
	left: 0px; 
}

#drawer-toggle:checked ~ #content { 
	margin-left: 300px; 
}

#top {
    display: block;
    float: none;
    margin: 0;
}

#top a{
    width: 25%;
    display: inline-block;
    margin: 0 -3px 0 0;
    text-align: center;
    padding: 0;
}

#title {
    width: 100%;
    text-align: center;
    margin: 10px 20px;
}

#offres_speciales {
    width: 100%;
}

#offres_speciales article {
    display: block;
    float: none;
    width: 100%;
}

#offres_speciales #slider {
    width: 100%;
    margin: 0;
    padding: 10px 0px;
    margin-bottom: 40px;
}

#offres_speciales #images {   
    margin: 10px 0px;
    padding: 0px;
}

#offres_speciales #images img{
    width: 100%;
}

#offres_speciales #information_btn{
    float: right;
    display: block;
 }

 #offres {
    width: 100%;
 }

.offre {
    width: 33%;
    margin: 0 -3px 0 0;
}

.offres_infos {
    width: 100%;
}

.desktop {
	display: none;
}