body {
    width:100%;
}

.corps {
    width: 100%
}

header {
    width: 100%
}

#top {
    display: block;
    float: none;
    margin: 0;
}

#top a{
    width: 24%;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
}

#title {
    width: 100%;
    text-align: center;
    margin: 10px auto;
}