body {
    width:100%;
}

.corps {
    width: 100%
}

header {
    width: 100%
}

#top {
    display: block;
    float: none;
    margin: 0;
}

#top a{
    width: 24%;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
}

#title {
    width: 100%;
    text-align: center;
    margin: 10px auto;
}

.desktop {
    display: none
}

#offres_speciales {
    width: 100%;
}

#offres_speciales article {
    display: block;
    float: none;
    width: 100%;
}

#offres_speciales #slider {
    width: 100%;
    margin: 0;
    padding: 10px 0px;
    margin-bottom: 40px;
}

#offres_speciales #images {   
    margin: 10px 0px;
    padding: 0px;
}

#offres_speciales #images img{
    width: 100%
}

#offres_speciales #information_btn{
    float: right;
    display: block;
}